@header-bold-font: 'Open Sans';
@primary-color: #0B5D89;
@secondary-color: #B03D3D;

@standard-spacing: 3rem;
@mobile-standard-spacing: 1rem;
@side-padding: 3rem;

@max-container-width: 75rem;

h1, h2, h3, h4 {
  margin: 0;
}

h1 {
  font-family: @header-bold-font, sans-serif;
  font-size: 5rem;
  line-height: 60px;
  font-weight: 700;
}

h2 {
  font-family: @header-bold-font, sans-serif;
  font-size: 2rem;
  font-weight: 400;
}

a, a:visited, a:active, a:hover, a:focus {
  text-decoration: none;
  background-color: transparent;

  cursor: pointer;
}

.section-title {
  text-align: center;

  margin: 0 auto @standard-spacing*1.5;

  h1 {
    font-size: 4rem;
  }

  hr {
    border-top: 2px solid @primary-color;
    max-width: 35rem;
  }

  @media screen and (max-width: @screen-xs-max) {   // bootstrap LESS variable

    margin-bottom: @mobile-standard-spacing;

    hr {
      margin-bottom: @mobile-standard-spacing;
      margin-top: @mobile-standard-spacing;
    }

  }

}

.section-container() {
  margin-right: auto;
  margin-left: auto;
  max-width: @max-container-width;
  padding-left: @side-padding;
  padding-right: @side-padding;
}