footer {
  height: 15rem;
  padding: @standard-spacing;

  background-color: @primary-color;

  .social-links {
    text-align: center;

    max-width: 40rem;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: @standard-spacing/2;

    a {
      padding: .5rem;

      i {
        color: white;

        font-size: 4rem;
      }

    }

  }

  .contact-info {
    text-align: center;

    a {
      color: white;

      letter-spacing: .2rem;
    }

  }

}