footer#contact {
  height: 15rem;
  padding: @standard-spacing;

  background-color: @primary-color;

  .social-links {
    text-align: center;

    max-width: 40rem;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: @standard-spacing/2;

    a {
      margin-right: 1rem;
      padding: .5rem;

      &:last-child {
        margin-right: 0;
      }

      i {
        color: white;

        font-size: 3rem;
        transition: color 0.3s;
      }

    }

  }

  .contact-info {
    text-align: center;

    a {
      color: white;

      letter-spacing: .2rem;

      &:hover {
        text-decoration: underline;
      }
    }

  }

}