@nav-bg-color: #454545;
@nav-accent-color: @secondary-color;
@nav-text-color: #737373;
@nav-link-hover-color: #FFFFFF;
@nav-menu-button-color: #FFFFFF;

nav {
  position: fixed;
  display: inline-block;
  z-index: 1;

  width: 100%;
  border-top: 3px solid @nav-accent-color;

  background-color: @nav-bg-color;

  button {

    span {
      color: @nav-menu-button-color;
    }

  }

  ul {
    .make-row();

    text-align: center;

    margin: 0 auto 1rem;
    width: 45rem;
    padding: 0;

    @media screen and (max-width: @container-sm) {  // bootstrap LESS variable
      width: 100%;
    }


    li {
      display: inline-block;
      .make-sm-column(4);

      a {
        color: @nav-text-color;
        background-color: transparent !important;

        &:focus {
          color: @nav-text-color;
        }

        &:hover {
          color: @nav-link-hover-color;
        }
      }

    }

  }

}