article.post {

  header {
    padding-top: 10rem;

    text-align: center;

    img {
      width: 20rem;
    }

    .section-title {
      margin-bottom: @standard-spacing;
    }
  }

  section.post-content {
    min-height: 100vh;
  }

  footer {
    background-color: transparent;
  }

}