<footer>
  <div class="info-wrapper">
    <div class="social-links">
      <a href="http://www.github.com/">
				<i class="fa fa-github"></i>
      </a>
    </div>
    <div class="contact-info">
      <a href="mailto:taekimjr@gmail.com">taekimjr@gmail.com</a>
    </div>
	</div>
</footer>