<footer id="contact">
  <div class="info-wrapper">
    <div class="social-links">
      <a href="https://github.com/TaeKimJR" title="Github">
				<i class="fa fa-github"></i>
      </a>
      <a href="https://www.linkedin.com/in/taekimjr" title="LinkedIn">
				<i class="fa fa-linkedin"></i>
      </a>
    </div>
    <div class="contact-info">
      <a href="mailto:taekimjr@gmail.com">taekimjr@gmail.com</a>
    </div>
	</div>
</footer>