<nav>
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav">
			<span class="menu-text">MENU</span>
      <span class="menu-icon glyphicon glyphicon-menu-hamburger"></span>
		</button>
	</div>
	<div class="collapse navbar-collapse text-center" id="nav">
		<ul class="nav">
			<li><a href="#portfolio">Portfolio</a></li>
			<li><a href="#journal">Journal</a></li>
			<li><a href="#contact">Contact</a></li>
		</ul>
	</div>
</nav>