<section id="journal">
	<div class="section-title">
		<h1>Journal</h1>
    <hr/>
	</div>

  <div class="articles-container">
    {{! The tag below includes the post loop - partials/loop.hbs }}
    {{> "loop"}}
  </div>

</section>