<section id="portfolio">
  <div class="section-title">
    <h1>Portfolio</h1>
  </div>

  <div class="filters-container">
		<div class="filter" data-filter="all"><span>All</span></div>
		<div class="filter" data-filter=".javascript-category"><span>JS</span></div>
		<div class="filter" data-filter=".animation-category"><span>SVG</span></div>
		<div class="filter" data-filter=".photography-category"><span>Photo</span></div>
  </div>

  <div class="portfolio-container">
			<div class="mix javascript-category" data-myorder="1">
        <div class="aspect-ratio"></div>
			</div>
			<div class="mix animation-category" data-myorder="2">
				<div class="aspect-ratio"></div>
			</div>
			<div class="mix photography-category" data-myorder="3">
				<div class="aspect-ratio"></div>
			</div>
  </div>
</section>