#journal {
  .section-container();

  .section-title {

    @media screen and (max-width: @screen-xs-max) {   // bootstrap LESS variable
      margin-bottom: @standard-spacing;
    }

  }

  .articles-container {

    article {
      margin-bottom: @standard-spacing * 1.5;

      font-size: 0;

      @media screen and (max-width: @screen-xs-max) {   // bootstrap LESS variable
        margin-bottom: @mobile-standard-spacing*2;
      }

      header {
        display: inline-block;

        margin-right: 2%;
        width: 73%;

        font-size: 1rem;

        a {
          color: black;

          &:hover {
            text-decoration: underline;
          }
        }

        @media screen and (max-width: @screen-xs-max) {  // bootstrap LESS variable
          display: block;

          width: 100%;
        }

      }

      .timestamp {
        display: inline-block;
        vertical-align: top;
        margin-top: .5%;

        width: 25%;

        font-size: 1.5rem;

        @media screen and (max-width: @screen-xs-max) {  // bootstrap LESS variable
          display: block;

          width: 100%;
        }

      }

    }

  }

  .hidden-articles-container {
    display: none;
  }

  .more-articles {
    margin-top: @standard-spacing;

    text-align: center;

    a {
      display: none;
      font-size: 2rem;
    }

    .prev {
      margin-right: 2rem;
    }

  }

}